{#
<div class="col-md-4 col-sm-12">
    <div class="card">
        <h2 class="card-header">
            <a href="{{ path('adoption_show', {
                id: adoption.id,
            }) }}">
                {{ adoption.name }}
            </a>
        </h2>
        <div class="card-body">
            <p class="card-text">
                {{ adoption.description }}
            </p>
            {% for dog in adoption.dogs %}
                <h3>
                    {{ dog.name }}
                    {% if dog.birthDate %}
                        ({{ dog.age }} ans)
                    {% endif %}
                    {% if dog.taken %}
                        (adopté)
                    {% endif %}
                </h3>
                <div class="row">
                    {% for image in dog.images %}
                        {% if image.path starts with 'http' %}
                            <img src="{{ image.path }}" class="col-6" alt="" style="height: auto">
                        {% else %}
                            <img src="{{ vich_uploader_asset(image) }}" class="col-6" alt="" style="height: auto">
                        {% endif %}
                    {% endfor %}
                </div>
                <p>
                    {{ dog.description }}
                </p>
            {% endfor %}
        </div>
        <div class="card-footer text-muted">
            {{ adoption.updatedAt|date('d/m/Y à H:i') }}
        </div>
    </div>
</div>#}
<div class="col-md-4 col-sm-12">
    ​<picture>
        {#<source srcset="images/home-header-Anima-img/chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.svg" type="image/svg+xml">#}
        <img src="images/logo-anima/logo-vector.svg" class="img-fluid" alt="...">
    </picture>
    <br>
    <div class="card shadow text-center">
        <h2 class="card-header">
            <a href="{{ path('adoption_show', {
                id: adoption.id,
            }) }}">
                {{ adoption.name }}
            </a>
        </h2>
        <div class="card-body">

            <div class="row">
                {% for picture in adoption.pictures %}
                    {% if picture.filename starts with 'http' %}
                        <img src="{{ picture.filename }}" class="col-6" alt="" style="height: auto">
                    {% else %}
                        <img src="{{ vich_uploader_asset(picture) }}" class="col-6" alt="" style="height: auto">
                    {% endif %}
                {% endfor %}
            </div>
            {#{% if adoption.picture %}
                <img src="{{ vich_uploader_asset(property.adoption, 'imageFile')}}" alt="card-img-top" style="width: 100%; height:auto;">
            {% else %}
                <img src="{{ '/images/dogs/'}}" alt="card-img-top" style="width: 100%; height:auto;">
            {% endif %}#}
            <p class="card-text">
                {{ adoption.description }}
            </p>
            {% for dog in adoption.dogs %}
                {#<h2 class="text-center text-uppercase">

                </h2>#}
                <h3>
                    Voici {{ dog.name }},
                    {% if dog.birthDate %}
                        agé de {{ dog.age }} ans,
                    {% endif %}
                    {% if dog.taken %}
                        (adopté)
                    {% endif %}
                </h3>
                <div class="row">

                    {#{% for pictureFile in dog.pictureFiles %}
                        {% if image.path starts with 'http' %}
                              <img src="{{ image.path }}" class="col-6" alt="" style="height: auto">
                          % else %}#}
                        {#<img src="{{ vich_uploader_asset(picture) }}" class="col-6" alt="" style="height: auto">
                    {#{% endif %    #}
                    {#{% if dog.pictureFiles %}
                        <img src="/images/dogs/{{ dog.pictureFile }}" alt="card-img-top" style="width: 100%; height: auto">
                        {#
                                                  <img src="{{ vich_uploader_asset(filename) }}" alt="card-img-top" style="width: 100%; height: auto">

                        {% endif %}

                    {% endfor %}#}
                </div>
                <div class="row">
                    {% for breed in dog.breeds %}
                        {{ breed.name }}
                    {% endfor %}
                    <p>
                        {{ dog.description }}
                    </p>
                </div>

            {% endfor %}
            {% for cat in adoption.cats %}
                {#                        {% if cat.pictureFiles %}
                                            <img src="/images/dogs/{{ cat.pictureFiles }}" alt="card-img-top" style="width: 1%; height: auto">
                {#
                                            <img src="{{ vich_uploader_asset(filename) }}" alt="card-img-top" style="width: 100%; height: auto">

                    {% endif %}#}
                <h3>
                    {{ cat.name }}
                </h3>
                {#                        <div class="row">
                                            {% for image in dog.images %}
                                                {% if image.path starts with 'http' %}
                                                    <img src="{{ image.path }}" class="col-6" alt="" style="height: auto">
                                                    #}{#{% else %}
                                                        <img src="{{ vich_uploader_asset(image) }}" class="col-6" alt="" style="height: auto">#}{#
                                                {% endif %}
                                            {% endfor %}
                                        </div>#}
                <p>
                    {{ cat.sexe }}
                </p>
                <p>
                    {{ cat.description }}
                </p>
{#                <p>
                    {{ cat.pictureFiles }}
                </p>#}
            {% endfor %}
        </div>
        <div class="card-footer text-muted">
            Annonce mise à jour le {{ adoption.updatedAt|date('d/m/Y à H:i') }}.
            <a class="shadow" href="{{ path('default_contact_for_adoption', { id: adoption.id }) }}">
                Contacter ANIMA pour + d'infos
            </a>
        </div>
    </div>
</div>
