{% extends '/base.html.twig' %}

{% block title %}Adoption{% endblock %}

{% block body %}
{#<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>#}

<div class="row g-4">
    {% for adoption in adoptions %}
        {% include 'adoption/_adoption.html.twig' with {
            adoption: adoption
        } only %}
    {% endfor %}
</div>



{% endblock %}
