{#{% extends 'base.html.twig' %}

{% block title %}
    {{ adoption.name }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1>{{ adoption.name }}</h1>
        <p>
            {{ adoption.description }}
        </p>
        {% for dog in adoption.dogs %}
            <h3>
                {{ dog.name }}
                {% if dog.birthDate %}
                    ({{ dog.age }} ans)
                {% endif %}

            </h3>
            {% for image in dog.images %}
                <img src="{{ image.path }}" class="card-img-top" alt="">
            {% endfor %}
            <p>
                {{ dog.description }}
            </p>
        {% endfor %}
        <a href="#">Nous contacter</a>
    </div>

{% endblock %}#}
{% extends '/base.html.twig' %}

{% block title %}
    {{ adoption.name }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ adoption.name }}</h1>
        <p>
            {{ adoption.description }}
        </p>
        <div class="d-flex justify-content-around">
            {% for picture in adoption.pictures %}
                <div class="d-flex justify-content-around">
                    <img style="width: 200px;" src="{{ picture.filename }}" alt="">
                </div>
            {% endfor %}
        </div>
        {% for dog in adoption.dogs %}
            <h3>
                {{ dog.name }}
                {% if dog.birthDate %}
                    ({{ dog.age }} ans)
                {% endif %}
                {% if dog.isAdopted == false %}
                    <h4>Adopter moi!</h4>
                {% else %}
                    <h4>Adopté!</h4>
                {% endif %}
            </h3>
            {#<div class="row">
                {% for image in dog.images %}
                    {% if image.path starts with 'http' %}
                        <img src="{{ image.path }}" class="col-6" alt="" style="height: auto">
                    #}{#{% else %}
                        <img src="{{ vich_uploader_asset(image) }}" class="col-6" alt="" style="height: auto">#}{#
                    {% endif %}
                {% endfor %}
            </div>#}
            <p>
                {{ dog.description }}
            </p>
        {% endfor %}
        <div class="card-footer text-muted">
            Annonce mise à jour le {{ adoption.updatedAt|date('d/m/Y à H:i') }}.
        </div>
        {#on redirige le futur adoptant vers la page de contact#}
        {#TODO: add a btn on href link#}
        <a href="{{ path('default_contact_for_adoption', { id: adoption.id }) }}">
            Contacter ANIMA
        </a>

        <!-- Scrollable modal -->
        <div class="modal-dialog modal-dialog-scrollable">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <a href="{{ path('default_contact_for_adoption', { id: adoption.id }) }}">
                    Contacter ANIMA
                </a>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Demande de pré-adoption</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

