{% extends '/base.html.twig' %}

{% block title %}Images Anima{% endblock %}

{% block body %}
    <div class="container mt-4">

        {{ form_start(form) }}
        {{ form_row(form.imageFile, {
            label: ',,,,',
            row_attr: {
                class: 'mb-3',
            },
            label_attr: {
                class: 'form-label',
            },
            attr: {
                class: 'form-control',
            },
        }) }}
        {{ form_row(form.cat, {
            label: 'chat',
            row_attr: {
                class: 'mb-3',
            },
            label_attr: {
                class: 'form-label',
            },
            attr: {
                class: 'form-control',
            },
        }) }}
        {{ form_row(form.dog, {
            label: 'chien',
            row_attr: {
                class: 'mb-3',
            },
            label_attr: {
                class: 'form-label',
            },
            attr: {
                class: 'form-control',
            },
        }) }}
        {{ form_row(form.adoption, {
            label: 'Annonce',
            row_attr: {
                class: 'mb-3',
            },
            label_attr: {
                class: 'form-label',
            },
            attr: {
                class: 'form-control',
            },
        }) }}
{#        <div id="titre" class="container d-flex justify-content-between flex-column align-items-center">
            <h1 class="roboto black">protection animale</h1>
            <h2 class="rockwell">ANIMA, du latin “anima” signifie âme, souffle.
                D’ou provient le terme ANIMAL.</h2>
            <a class="shadow" href="#concept">Découvrir</a>
        </div>#}


            <br>
            <button type="submit" class="shadow">Ajouter</button>

        <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
        {{ form_end(form) }}

    </div>
{% endblock %}

