{% extends '/base.html.twig' %}

{% block title %}CONNEXION{% endblock %}

{#{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-center">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez remplir ces champs pour vous connecter</h1>
    <label for="inputEmail col-3 ">Email</label>
    <input class="col-4" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
    autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >#}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{#
    <br>
    <button class="btn btn-lg btn-outline-dark shadow text-center text-capitalize" type="submit">
        se connecter
    </button>
</form>
{% endblock %}#}


{% block body %}
    <div class="container mt-4">


        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 text-center">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <form method="post">
            <div class="form-group">
{#
                <label for="username">Nom d'utilisateur</label>
#}
                <label for="inputEmail">Email</label>
                {#<input class="col-4">#}
                <input type="email"name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus value="{{ last_username }}">
            </div>

            <div class="form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
                {#<h1 class="h3 mb-3 font-weight-normal text-center">Veuillez remplir ces champs pour vous connecter</h1>
                <label for="inputEmail col-3 ">Email</label>
                <input class="col-4" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >#}
            <br>
            <button type="submit" class="btn btn-success shadow">Se connecter</button>
        </form>

    </div>
{% endblock %}
