
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="#page-top">ANIMA</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">Nos Rescapé</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Formalités</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="text-center text-white d-flex masthead" style="background-image:url('chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.jpg');">
    <img src="chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.jpg" />
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong>Your Favorite Source of Free Bootstrap Themes</strong></h1>
                <hr />
            </div>
        </div>
        <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">We can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p><a class="btn btn-primary btn-xl" role="button" href="#services">Find Out More</a>
        </div>
    </div>
</div>
