{% extends '/base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}


    <nav>
        <h1>FORMALITÉS</h1>

            <a href="#intro">Tarifs</a>
            <a href="#prices">Services</a>
            <a href="#concept">Conditions</a>
        <h2>FRAIS D’ADOPTION</h2>
    </nav>

    <main>
        <section id="intro">
            <img src="images/logo-vecr-anim-blue-transp.svg" alt="ANIMA Logo">
            <div>
                <h2>Ces tarifs, incluent:</h2>

                <ul>
                    <li>Les soins</li>
                    <li>La stérilisation ou castration (sauf chiots et chatons)</li>
                    <li>L’identification par puce électronique</li>
                    <li>Les vaccinations</li>
                    <li>Le déparasitage interne et externe</li>
                    <li>Les tests Leucose et F.I.V sont effectués pour les chats de plus de 6 mois.</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </section>

        <section id="prices">
            <h2>Tarifs d'adoption</h2>
            <ul>
                <li>
                    ​<picture>
                       {#<source srcset="images/home-header-Anima-img/chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.svg" type="image/svg+xml">#}
                       <img src="images/1.svg" class="img-fluid img-thumbnail" alt="...">
                    </picture>
                    <h3>Chien</h3>
                    <hr>
                    <p>250<sup>euros</sup></p>
                    <p><a href="#intro">Ces tarifs, incluent:</a></p>
                </li>
                <li>
                    <h3>Chat</h3>
                    <hr>
                    <p>150<sup>euros</sup></p>
                    <p><a href="#intro">Ces tarifs, incluent:</a></p>
                </li>
            </ul>
        </section>

        <section id="concept">
            <div>
                <p>L’adoption d’un animal doit être un acte réfléchi, c’est pourquoi
                    nous vous demandons de remplir le formulaire de pré-adoption ci dessous.
                    Ce formulaire nous en apprend un petit peu plus sur vous ainsi que sur le
                    futur environnement de votre animal. Il vous permet également de vous poser les
                    bonnes questions avant la procédure d’adoption.
                </p>
                <a href="#" class="btn">Nous contacter</a>
            </div>
            <img src="images/logo-vecr-anim-blue-transp.svg" alt="ANIMA Logo">
        </section>
    </main>
</body>

</html>


{% endblock %}
