{% extends '/base.html.twig' %}

{% block title %}
    Nous contacter
{% endblock %}

{% block body %}

    <section id="contact" class="container shadow">

    {{ form_start(form) }}
    {{ form_row(form.subject, {
        label: 'Sujet de votre message',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.adoption, {
        label: 'Du temps, de l\'énergie, des caresse et papouilles, beaucoup d\'amour et de tendresse à offrir, vous voulez
                vous engager pour sauver un de nos rescapés, alors nous vous invitons choisir une de nos annonce ! (Vous devrez signer
                par la suite notre Charte Du Bien-Être Animal auquel vous devrez concentir pour pretendre devenir un heureux adoptant).',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.email, {
        label: 'Votre adresse email',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.message, {
        label: 'Votre message',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    <button type="submit" class="btn btn-info shadow">Envoyer</button>
    {{ form_end(form) }}

    <h2>
    Attention! Nous tenons à rappeler qu'une adoption est un acte qui doit être murement réfléchit,
    de nombreuses reponsabilités acompagnent...
    Vous donnez droit de visite à tous responsables de Anima, dans le cadre de l'accompagnement du placement
    de nos animaux rescapés.
    Anima se réserve le droit de reprendre un animal placé pour non respect de notre charte du bien être animal,
    dont vous aurez pris connaissance et signé (mauvais traitements, mal nourrit,
    mal souagné, ou vivant dans un espace non comforme).
    </h2>

    </section>

{% endblock %}
