{% extends '/base.html.twig' %}

{% block title %}
    Formulaire de pré-adoption
{% endblock %}

{% block body %}

<section class="container shadow">
    ->add('firstname')
    ->add('lastname')
    ->add('phone')
    ->add('email')
    ->add('location', LocationType::class, [
    'data_class' => ContactPreAdoption::class,
    ])
    ->add('bithDate')
    ->add('adoption')
    ->add('description')
    ->add('association')
    ->add('createdAt')
    ->add('updatedAt')
    {{ form_start(form) }}
    {{ form_row(form.firstname, {
        label: 'Nom',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.lastname, {
        label: 'Nom',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.phone, {
        label: 'Téléphone',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.adoption, {
        label: 'Quelle animal souteriez-vous adopter?',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.email, {
        label: 'Votre adresse email',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.address, {
        label: 'Adresse',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.zipcode, {
        label: 'Code Postale',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.city, {
        label: 'Ville',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.country, {
        label: 'Pays',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.bithDate, {
        label: 'Date de naissance',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}bithDate
    {{ form_row(form.message, {
        label: 'Votre message',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    <button type="submit" class="btn btn-info shadow">Envoyer</button>
    {{ form_end(form) }}

    <h2>
        Attention! Nous tenons à rappeler qu'une adoption est un acte qui doit être murement réfléchit,
        de nombreuses reponsabilités acompagnent...
        Vous donnez droit de visite à tous responsables de Anima, dans le cadre de l'accompagnement du placement
        de nos animaux rescapés.
        Anima se réserve le droit de reprendre un animal placé pour non respect de notre charte du bien être animal,
        dont vous aurez pris connaissance et signé (mauvais traitements, mal nourrit,
        mal souagné, ou vivant dans un espace non comforme).
    </h2>

    {% endblock %}
