{% extends '/base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name, {
        label: 'Nom du chien',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.breeds, {
        label: 'Races',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.birthDate, {
        label: 'Date de naissance',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.description, {
        label: 'Description',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    {{ form_row(form.adoption, {
        label: 'Lier à une annonce',
        row_attr: {
            class: 'mb-3',
        },
        label_attr: {
            class: 'form-label',
        },
        attr: {
            class: 'form-control',
        },
    }) }}
    <div class="mb-3">
        {{ form_label(form.pictures, 'Photos', {
            label_attr: {
                class: 'form-label',
            },
        }) }}
        {{ form_errors(form.pictures) }}

        <ul id="image-fields-list"
            data-prototype="{{ form_widget(form.pictures.vars.prototype, {
                attr: {
                    class: 'form-control',
                },
            })|e }}"
            data-widget-tags="{{ '<li class="mb-3"></li>'|e }}"
            data-widget-counter="{{ form.pictures|length }}">
            {% for imageField in form.pictures %}
                <li class="mb-3">
                    {{ form_errors(imageField) }}
                    {{ form_widget(imageField, {
                        attr: {
                            class: 'form-control',
                        },
                    }) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" class="add" data-list-selector="#image-fields-list">+</button>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.add').click(function (e) {
                var list = $($(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = $(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });

    </script>
{% endblock %}

{% block title %}
    Ajouter / modifier un chien
{% endblock %}

